@model GarageManager.Web.Models.ViewModels.ServiceIntervention.CarServiceHistoryDetailsViewModel
@{
    ViewData["Title"] = "ServiceDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Service Details</h1>
<hr />
<div class="container-fluid">
    <div class="row">

        <div class="col-xl-6">
            @await Html.PartialAsync("_PartDetailsListPartial", Model.Parts)
        </div>
        <div class="col-xl-6">
            @await Html.PartialAsync("_RepairServiceDetailsListPartial", Model.Repairs)
        </div>
    </div>
    <div class="mt-4">
        <a class="btn btn-secondary shadow"
           asp-action="ServiceHistoryByCarId" 
           asp-controller="Services" 
           asp-area="Admin" 
           asp-route-id="@Model.CarId">Back to History</a>
    </div>
</div>
