@model GarageManager.Web.Models.BindingModels.CustomerCreateBindingModel

@{
    ViewData["Title"] = "Create Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Add New Customer</h1>


<div class="w-50 mx-auto">

    <div>
       
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group w-75 mx-auto">
                    <hr />
                    <div class="mx-auto">
                        <label asp-for="FirstName" class="control-label text-dark font-weight-bold"></label>
                    </div>
                    <input asp-for="FirstName " class="form-control" placeholder="First Name..." />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group w-75 mx-auto">
                    <div class="mx-auto">
                        <label asp-for="LastName" class="control-label text-dark font-weight-bold"></label>
                    </div>
                    <input asp-for="LastName" class="form-control" placeholder="Last Name..." />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div>
                </div>
                <div class="form-group w-75 mx-auto">
                    <div class="mx-auto">
                        <label asp-for="Email" class="control-label text-dark font-weight-bold"></label>
                    </div>
                    <input asp-for="Email" class="form-control" placeholder="Email..." />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group w-75 mx-auto">
                    <div class="mx-auto">
                        <label asp-for="PhoneNumber" class="control-label text-dark font-weight-bold"></label>
                    </div>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number..." />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <hr class="mt-4 w-75" />
                <div class="form-group text-center mt-5">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a class="btn btn-secondary ml-5"
                       asp-action="Index"
                       asp-controller="Home">Back</a>
                </div>

        </form>
        </div>
    </div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

