#RegisterPic {
    border: 2px solid black;
    padding: 25px;
    background: url(https://www.artsfon.com/download.php?file=201503/1920x1080/artsfon.com-61922.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.footer{
    height: 10px;
}
.bg.WhiteSmoke {
    background-color: #F5F5F5;
}
.w-10{
    width: 10px;
}
.w-30{
    width: 30%;
    resize:none;
}
.bg-AliceBlue {
    color: #7FFFD4;
}
.invoice-page {
    position: relative;
    border: 0px;
    width: calc(180mm * 1.25);
    height: calc(297mm * 1.25);
    padding: 0;
}
.height {
    min-height: 200px;
}

.icon {
    font-size: 47px;
    color: #5CB85C;
}

.iconbig {
    font-size: 77px;
    color: #5CB85C;
}

.table > tbody > tr > .emptyrow {
    border-top: none;
}

.table > thead > tr > .emptyrow {
    border-bottom: none;
}

.table > tbody > tr > .highrow {
    border-top: 3px solid;
}