@model GarageManager.Web.Models.BindingModels.Part.PartCreateBindingModel

@{
    ViewData["Title"] = "Add Part";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Add Part</h1>


<div class="container-fluid">
    <div class="w-75 mx-auto">
        <hr />
        <form asp-action="AddPart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class=" row form-group w-100 mx-auto">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row form-group w-100 mx-auto">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="row justify-content-between w-100 mx-auto">
                <div class="form-group w-45">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group w-45">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="form-group text-center">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}