
@if (!User.Identity.IsAuthenticated)
{
    <div class="jumbotron bg-eventures w-75 mx-auto font-weight-bold">
        <h1 class="mx-auto font-weight-bold">Garage Manager - the best Garage Manager service in the world.</h1>
        <hr class="hr-2 bg-dark" />
        <h4 class="mt-4 mx-auto font-weight-bold "><a href="/Identity/Account/Login">Login</a> to start your work.</h4>
        <h3> To Login as Administrator, please use </h3>
        <h3>Email: garagemanager.root@gmail.com</h3>
        <h3>Password: Admin</h3>

        @if (((bool)TempData["IsAnyEmployee"]) != true)
        {
            <h4 class="mt-4 mx-auto font-weight-bold "><a href="/Identity/Account/Register"> Register</a></h4>
            <h4>If you see the register hyperlink, is mean that no users are registered yet and you will be registered like Admin in Garage Manager!!!</h4>
        }
    </div>
    <div class=" container-fluid">
        <div>
            <h3 class="text-center">GarageManager</h3>

            <h5 class="text-center">
                is simple system for managing the work flow in automotive repair center.
            </h5>
            <hr />
            <div class="ml-4">
                <h6>
                    As Administrator, you can create, update, edit and delete:</h6>
                   <h6>- Employee (User)</h6>
                   <h6>- Customer (data entity)</h6>
                   <h6>- Car</h6>
                   <h6>- Generate invoice</h6>
                <h6>- Finish the order for service </h6>
                   <h6> As Employee, you can create, update, edit and delete:</h6>
                   <h6>- Part</h6> 
                   <h6>- Repair Service</h6>
            </div>
        </div>
    </div>
}
else
{
    @if (User.IsInRole("Admin"))
    {
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="text-center">
                        <div class=" index-link">
                            <a class="border bg-secondary text-white shadow rounded-pill alert " asp-action="CompletedCars" asp-controller="Cars" asp-area="Admin">Completed Cars</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div>
                        <div class="text-center">
                            <div class=" index-link">
                                <a class="border bg-secondary text-white shadow rounded-pill alert " asp-action="AllCustomers" asp-controller="Customers" asp-area="Admin">All Customers</a>
                            </div>
                            <div class=" index-link">
                                <a class="border bg-secondary text-white shadow rounded-pill alert " asp-area="Admin" asp-controller="Customers" asp-action="Create">Create New Customer</a>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="text-center">


                        <div>
                            @await Component.InvokeAsync("AdminDepartments", false)
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" index-link">
                        <a class="border bg-secondary text-white shadow rounded-pill alert
                           " asp-action="AllEmployees"
                           asp-controller="Employees"
                           asp-area="Admin">All Employees</a>
                    </div>
                    <div class=" index-link">
                        <a class="border bg-secondary text-white shadow rounded-pill alert"
                           asp-action="Create"
                           asp-controller="Employees"
                           asp-area="Admin">Create New Employee</a>
                    </div>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <div>
                        @await Component.InvokeAsync("CarsInDepartment")
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        @await Component.InvokeAsync("CompletedCarsInCurrentMunth")
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="jumbotron bg-eventures w-75 mx-auto font-weight-bold">
            <h1 class="text-center font-weight-bold">Welcome, @User.Identity.Name!</h1>
            <hr class="hr-2 bg-secondary" />
            <h2 class="text-center text-secondary">Garage Manager wishes you an exciting experience.</h2>
        </div>
    }
}
