@page
@model LoginModel

<section>
    <form id="account" method="post">
        <div>
            <h1 class="text-center">Login</h1>
        </div>
        <div>
            <div class="w-50 mx-auto">
                <hr class="bg-primary" style="height: 2px;" />
                <div asp-validation-summary="All" class="text-danger">
                </div>
                <div class="form-group w-75 mx-auto">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group w-75 mx-auto">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <hr class="bg-primary mt-lg-5" style="height: 2px;" />
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group text-center mt-lg-5">
                    <p class="mb-0">
                        <a id="forgot-password" class="text-center" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p >
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
