@model List<GarageManager.Areas.Admin.BindingViewModels.AllCustomersDetails>

@{
    ViewData["Title"] = "All Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">AllCustomers</h1>


<table class="table table-hover w-75 mx-auto">
    <thead >
        <tr class="row mx-auto" >
            <th >#</th>
            <th  class="col-md-9">Customer Name</th>
            <th class="col-md-2 text-center">Details</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0;i< Model.Count(); i++)
        {
            <tr class="row mx-auto">
                <th>@(i+1)</th>
                <td class="col-md-9">@Model[i].FullName</td>
                <th class="col-md-2 d-flex justify-content-around">
                    <a asp-action="Details" asp-controller="Customers" asp-area="Admin">Details</a>
                    <a asp-action="CarsById" asp-controller="Cars" asp-area="Admin">Cars</a>
                </th>
            </tr>
        }


    </tbody>
</table>
