@model GarageManager.Web.Models.BindingModels.Employee.EmployeeCreateBindingModel

@{
    ViewData["Title"] = "CreateEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string emailError = ViewData["Email"]?.ToString();
}

<h1 class="text-center">Add New Employee</h1>
@if (emailError == GarageManager.Common.GlobalConstants.EmailExistErrorMessage)
{
    <h3 class="text-center text-danger">@emailError</h3>
}
<hr />
<div class="container-fluid w-50">
    <div class="mx-auto">
        <form asp-action="CreateEmployee" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirsName" class="control-label"></label>
                <input asp-for="FirsName" class="form-control" />
                <span asp-validation-for="FirsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecruitedOn" class="control-label"></label>
                <input asp-for="RecruitedOn" class="form-control" />
                <span asp-validation-for="RecruitedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                @await Component.InvokeAsync("Departments", true)
                    </div>
                <div class="form-group text-center mt-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
</form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
