@model GarageManager.Areas.User.Views.CreateViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Create New Customer</h1>

<hr />
<div class="w-50 mx-auto">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-75 mx-auto">
                <div class="mx-auto">
                    <label asp-for="FirstName" class="control-label font-weight-bold"></label>
                </div>
                <input asp-for="FirstName" class="form-control" placeholder="First Name..." />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group w-75 mx-auto">
                <div class="mx-auto">
                    <label asp-for="LastName" class="control-label font-weight-bold"></label>
                </div>
                <input asp-for="LastName" class="form-control" placeholder="Last Name..." />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group w-75 mx-auto">
                <div class="mx-auto">
                    <label asp-for="Email" class="control-label font-weight-bold"></label>
                </div>
                <input asp-for="Email" class="form-control" placeholder="Email..." />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group w-75 mx-auto">
                <div class="mx-auto">
                    <label asp-for="PhoneNumber" class="control-label font-weight-bold"></label>
                </div>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number..." />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group text-center mt-5">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

