@model GarageManager.Web.Views.Shared.Components.Models.FuelTypeModel

<label asp-for="FuelTypes" class="control-label"></label>
<select asp-for="FuelTypeId" asp-items="Model.FuelTypes" class="form-control">
    <option disabled selected>--- Fuel ---</option>
</select>
<span asp-validation-for="FuelTypeId" class="text-danger"></span>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}