@model GarageManager.Web.Views.Shared.Components.Models.FuelTypeModel

<label asp-for="FuelTypes" class="control-label"></label>
<select asp-for="FuelTypeId" asp-items="Model.FuelTypes" class="form-control">
    <option disabled selected>--- Fuel ---</option>
</select>